{% extends "layout.html" %}

{% set editPage = true %}

    {% set pageId = "page-create-point" %}

    {% block title %}

        <title>Editar ponto de coleta</title>

    {% endblock %}

    {%  block styles %}
        
        <link rel="stylesheet" href="/styles/create-point.css">
        <link rel="stylesheet" href="/styles/modal.css">

    {% endblock %}

    {%  block content %}

        {% include "partials/page-header.html" %}

        <form action="/edited/{{ point.id }}" method="post">

            <h1>Editar ponto de coleta</h1>
            
            <fieldset>

                <legend><h2>Dados do local</h2></legend>

                {% include "partials/fields.html" %}

            <button>Editar ponto de coleta</button>

        </form>

    {% endblock %}

    {% block modal %}

        {% if editTrue %}
        
            {% include "partials/point-created.html" %}

        {% endif %}

        {% if editTrue == false %}
        
            {% include "partials/point-failed.html" %}

        {% endif %}

    {% endblock %}

    {% block scripts %}

        <script src="/scripts/edit-point.js"></script>
        <script src="/scripts/create-point.js"></script>
        
    {% endblock %}