
#page_home {
    height: 100vh;

    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw 20vh;
}

#page_home .content {
    width: 90%;
    max-width: 1100px;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#page_home header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 48px 0;
}

#page_home header a {
    display: flex;

    color: var(--title-color);
    font-weight: bold;
}

#page_home header span {
    display: inline-block;
    margin-right: 16px;

    background-image: url('../assets/log-in.svg');

    width: 20px;
    height: 20px;
}

#page_home main {
    max-width: 560px;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#page_home main h1 {
    font-size: 54px;
}

#page_home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page_home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;

    display: flex;
    align-items: center;

    margin-top: 40px;

    border-radius: 8px;
    background-color: var(--primary-color);
    font-weight: bold;
    color: white;
}

#page_home main a:hover {
    filter: brightness(108%);

    transition: 250ms;
}

#page_home main a span {
    width: 72px;
    height: 100%;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, .08);

    display: flex;
    align-items: center;
    justify-content: center;
}

#page_home main a span::after {
    content: "";
    background-image: url(../assets/search.svg);

    width: 20px;
    height: 20px;
}

#page_home main a strong {
    flex: 1;
    text-align: center;
}