
@media (max-width: 900px) {
    #page_home {
        background-position-x: 70vw;
    }

    #page_home .content {
        align-items: center;
        text-align: center;
    }

    #page_home header a {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page_home main {
        align-items: center;
        max-width: 580px;
    }

    #page_home main h1 {
        font-size: 46px;
    }

    #page_home main p {
        font-size: 22px;
    }
    
}

@media (max-width: 1100px) {

    #page-search-results .cards {
        grid-template-columns: 1fr 1fr;
    }

    #page-search-results .edit_content img {
        width: 20px;
        max-height: 20px;
    }

    #page-search-results .cards img {
        height: 250px;
    }

}

@media (min-width: 1720px) {
    #page_home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page_home {
        background-position-y: 100px;
    }
}

@media (max-width: 680px) {
    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .card {
        border-bottom: 1px solid #28203a44;
        padding-bottom: 16px;
    }

    #page-search-results .card:last-child {
        border: none;
    }

    #page-search-results .edit_content img{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 400px) {
    #page-create-point form button {
        width: 200px;

        padding: 0 8px;
    }

}

@media (max-width: 480px) {
    #modal .content {
        width: 320px;
    }

    #modal.point .content h1 {
        font-size: 28px;
    }

    #modal.point .content img {
        width: 90px;
    }

}

@media (max-width: 380px) {
    #modal .content {
        width: 270px;
    }

    #modal .header h1 {
        font-size: 28px;
    }
}

@media (max-width: 750px) {
    #page-create-point form .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
}

@media (max-width: 630px) {
    #page-create-point .items-grid {
        grid-template-columns: 1fr 1fr;
    }

    #page-create-point .items-grid li span {
        font-size: 24px;
    }

    #page-create-point form legend {
        flex-direction: column;
    }

    #page-create-point form legend h2 {
        font-size: 32px;

        margin-bottom: 16px;
    }

    #page-create-point form legend span {
        font-size: 18px;
    }
}

@media (max-width: 510px) {
    #page-create-point .items-grid {
        grid-template-columns: 1fr;
    }

    #page-create-point .items-grid li span {
        font-size: 24px;
    }

    #page-create-point form legend {
        flex-direction: column;
    }

    #page-create-point form legend h2 {
        font-size: 32px;

        margin-bottom: 16px;
    }

    #page-create-point form legend span {
        font-size: 18px;
    }
}