@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap');

:root {
    --title-color: #322153;
    --primiry-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}

#page_home {
    height: 100vh;

    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw 20vh;
}

#page_home .content {
    width: 90%;
    max-width: 1100px;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#page_home header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 48px 0;
}

#page_home header a {
    display: flex;

    color: var(--title-color);
    font-weight: bold;
}

#page_home header span {
    display: inline-block;
    margin-right: 16px;

    background-image: url('../assets/log-in.svg');

    width: 20px;
    height: 20px;
}

#page_home main {
    max-width: 560px;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#page_home main h1 {
    font-size: 54px;
}

#page_home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page_home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;

    display: flex;
    align-items: center;

    margin-top: 40px;

    border-radius: 8px;
    background-color: var(--primiry-color);
    font-weight: bold;
    color: white;
}

#page_home main a:hover {
    filter: brightness(108%);

    transition: 250ms;
}

#page_home main a span {
    width: 72px;
    height: 100%;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, .08);

    display: flex;
    align-items: center;
    justify-content: center;
}

#page_home main a span::after {
    content: "";
    background-image: url(../assets/search.svg);

    width: 20px;
    height: 20px;
}

#page_home main a strong {
    flex: 1;
    text-align: center;
}

@media (max-width: 900px) {
    #page_home {
        background-position-x: 70vw;
    }

    #page_home .content {
        align-items: center;
        text-align: center;
    }

    #page_home header a {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page_home main {
        align-items: center;
        max-width: 580px;
    }

    #page_home main h1 {
        font-size: 46px;
    }

    #page_home main p {
        font-size: 22px;
    }
}